<h1>Login Form</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <span>EMAIL :-</span>
  <input type="email" placeholder="Enter user Email" name="email" formControlName="email"><br>
  <span *ngIf="loginForm.get('email').errors?.['required'] && loginForm.get('email').touched"
    class="validation">*This field is required</span>
  <span *ngIf="loginForm.get('email').errors?.['email'] && loginForm.get('email').touched"
    class="validation">*Email is not valid</span><br>

  <span>PASSWORD :-</span>
  <input type="text" placeholder="Enter Password" name="password" formControlName="password"><br>
  <span *ngIf="loginForm.get('password').errors?.['required'] && loginForm.get('password').touched"
    class="validation">*This field is required</span>

  <button type="submit" [disabled]="loginForm.invalid">Log-In</button>
</form>

<p #text>{{message}}</p>

<a routerLink="/register">Register</a>
<br><br>
<a routerLink="/alluser">Users</a>
<router-outlet></router-outlet>

